*~
*.sw[op]
.idea*
*.pyc
localsettings.py
*.sqlite3
static_root
_working/
data/
/static/
bigday/static/bigday/images/czue
bigday/static/bigday/images/full res
guests/static/save-the-date/images/archive/
.DS_Store
.venv/
notes.txt
.env
notes.md
