<section id="activities">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">
              Activities
            </h2>
            <hr class="primary">
            <div class="text-stack">
              <p>
                If you find yourself with extra free time, here are some activities you could do in the area.</a>
              </p>
              <h4>Hiking</h4>
              <p>
                  Lafayette has a few <a href="https://www.google.com/maps/search/hiking+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4358356,-86.9269869,13.25z">flat hikes</a>.
              </p>
              <h4>Art Museum</h4>
              <p>The <a href="https://g.page/haanmuseum?share">Haan Museum of Indiana Art</a> has paintings, ceramics, and anitique American furniture.</p>
              <h4>Nature Center</h4>
              <p>
                  The <a href="https://goo.gl/maps/7skcqg9tvfEFFmw67">Lilly Nature Center</a> consists of award-winning exhibits and activities designed for the entire family.  The bird viewing
                  area has one-way glass so visitors can see the birds at the feeding stations up close. This is located inside the Celery Bog Nature Area.
              </p>
              <h4>Celery Bog</h4>
              <p>
                  The <a href="https://goo.gl/maps/bS3E7VdtHx2kws9SA">Celery Bog Nature Area</a> is approximately 195 acres, consisting of a prairie, a savanna, woodlands and wetlands. It includes
                  over 4 miles of paved, 10’ wide trails that connect to the Purdue University campus and other locations throughout West Lafayette. There are also 2.5 miles of mulched paths through the property
                  and three observation decks near the wetlands.
              </p>
              <h4>Water Park</h4>
              <p>
                  <a href="https://goo.gl/maps/4Qg1zF2frLHLbabq8">Tropicanoe Cove</a> is a public swimming pool with a small admission fee.
              </p>
              <h4>Fort Ouiatenon</h4>
              <p>
                  <a href="https://goo.gl/maps/vpBFPbVaLmCjurA18">Fort Ouiatenon</a> is a replica of the wooden blockhouse that was originally built here in 1717 by the French.
              </p>
              <h4>Escape Room</h4>
              <p>
                  <a href="https://g.page/missionbreakoutlafayette?share">Mission: Breakout Lafayette</a> gives your group one hour to figure out an adventure puzzle.
              </p>
              <h4>Bowling</h4>
              <p>Lance's old hockey friend has a bowling alley up near the fairgrounds: <a href="https://g.page/ArrowheadBowl?share">Mike Aulby's Arrowhead Bowl.</a></p>
              <h4>Eat</h4>
              <p>
                  There are <a href="https://www.google.com/maps/search/food+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4136077,-86.942971,13z/data=!3m1!4b1">various places to eat</a> near the venue.
              </p>
              <h4>Shopping</h4>
              <p>There are <a href="https://www.google.com/maps/search/shopping+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4134875,-86.942971,13z/data=!3m1!4b1">various shopping centers</a> in Lafayette.</p>
            </div>
        </div>
    </div>
</section>
