<section id="bar">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">
              Bar
            </h2>
            <hr class="primary">
            <div class="text-stack">
              <p>
                While Lance and Allison personally have never frequented these establishments, we hear good things!
              </p>
              <ul>
                <li><a href="https://goo.gl/maps/xMyUYrgat4vBbxyX8">Harry's Chocolate Shop</a></li>
                <li><a href="https://goo.gl/maps/Ri8XUR4jwiuHxQ759">The Tap</a></li>
                <li><a href="https://goo.gl/maps/QWzE61fgS9T66cTh6">Nine Irish Brothers</a></li>
                <li><a href="https://goo.gl/maps/hkpTrnLpW9NmxqRH8">Brothers Bar</a></li>
              </ul>
            </div>
        </div>
    </div>
</section>
