<section id="food">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">
              Food
            </h2>
            <hr class="primary">
            <div class="text-stack">
              <p>
                Here are some places you can grab a bite to eat! Food will be served at the wedding.
              </p>
              <h4><a href="https://goo.gl/maps/m9T5rjg1ZFe7k9hx8">Arni's</a></h4>
              <p>
                  This was a favorite of Allison and her sisters growing up. The garlic bread a.k.a. Texas toast was always her favorite.
              </p>
              <h4><a href="https://goo.gl/maps/zTp9cTtYfAVTfM726">Pizza King</a></h4>
              <p>
                An Indiana classic. If you're keen enough to eat here in person you can get your drinks delivered to you on a train.
              </p>
              <h4><a href="https://goo.gl/maps/MoqsWS6B5tfqJzvi9">Bruno's Pizza</a></h4>
              <p>
                  This is definitely the best pizza in the area. A Purdue classic and a frequently requested meal by Allison and her sisters whenever they are in town.
              </p>
              <h4><a href="https://goo.gl/maps/24H1uPXGVQj9zYPP7">Shellie's Cafe</a></h4>
              <p>
                  This is a special one because Allison's favorite Aunt Janet used to take them here for breakfast. It's also conveniently across the street from our wedding venue!
              </p>
              <h4><a href="https://goo.gl/maps/Xcf6mScDvuMkCsoT9">Mary Lou Donuts</a></h4>
              <p>
                  If you're looking for some great local donuts look no further than Mary Lou's. Be sure to try a bear claw!
              </p>
              <h4><a href="https://goo.gl/maps/K24c9nXusFUiZRyTA">Chipotle</a></h4>
              <p>
                  No matter where you go, Chipotle will always be there. Fun facts about Chipotle, Allison's senior year she ate at the local Hamden Chipotle almost daily. Feel free to join in our game of "Over/Under": do you think within your lifetime you have eaten Chipotle over or under 750 times?
              </p>
              <h4><a href="https://goo.gl/maps/ZCHx62vLyoCJVHV1A">Outback Steakhouse</a></h4>
              <p>
                  This will forever be Lance's favorite. Our place in Arizona was right next to one that Lance would frequent. If you want to get his favorite meal be sure to get the full rack of ribs.
              </p>
              <h4><a href="https://goo.gl/maps/gZrcA8vkeqVNu4p48">Triple XXX</a></h4>
              <p>
                While we've never eaten here, it was featured on the very famous Guy Fierri's "Diners, Drive-ins, and Dives."
              </p>
              <h4><a href="https://goo.gl/maps/x76wYBosiBZELeiT6">Dog N Suds</a></h4>
              <p>
                  If you want a good 'ol drive-in restaurant, Dog N Suds is the place to be. Be sure to try a root beer float!
              </p>
              <h4><a href="https://goo.gl/maps/SXMVnn3XSznjmrBRA">Panera</a></h4>
              <p>
                  Lance truthfully despises Panera, but it's still an easy stop and not too far from the recommended hotels!
              </p>
              <h4><a href="https://goo.gl/maps/mipibHVuCmakoUpJA">Dairy Queen</a></h4>
              <p>
                  When Allison and her family would come to spend summers in West Lafayette they would go here for a late night treat! Be sure to try a blizzard.
              </p>
              <h4><a href="https://goo.gl/maps/y453wG4LLsT6r8qL9">La Bamba</a></h4>
              <p>
                Here, you can get a burrito as big as your face!
              </p>
              <p>
                  There are <a href="https://www.google.com/maps/search/food+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4136077,-86.942971,13z/data=!3m1!4b1">various places to eat</a> near the venue.
              </p>
            </div>
        </div>
    </div>
</section>
