<div class="container">
    <div class="row">
        <div class="text-stack">
            <h2 class="section-heading text-center">Location</h2>
            <hr class="primary">
            <h3>Getting There</h3>
            <p>Lafayette is between Indianapolis and Chicago, but closer to Indianapolis.</p>
            <p>
                From <strong>Indianapolis</strong>, <a href="https://goo.gl/maps/RTdGRMUEQkqUz6kY7" target="_blank">it is a <strong>1.25 hour</strong> drive ↖️ northwest from Indianapolis International Airport 
                to the venue.</a>
            </p>
            <p>
                From <strong>Chicago</strong>, <a href="https://goo.gl/maps/WmZp695ZbvmW9mDT6" target="_blank">it is a <strong>2.5 hour</strong> drive ↘️ southeast from O'Hare International Airport to the
                venue.</a>
            </p>
			<p>
                From <strong>Detroit</strong>, <a href="https://goo.gl/maps/4ixFe8Wb4p8Yfzjv7" target="_blank">it is a <strong>4.5 hour</strong> drive ↙️ southwest from city center to the venue.</a>
            </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                These <a href="https://www.google.com/maps/search/lodging+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4254628,-86.8975051,13z/data=!3m1!4b1" target="_blank">
                <strong>hotels</strong></a> and <a href="https://www.airbnb.com/s/Tippecanoe-County-Fairgrounds--Teal-Road--Lafayette--IN--USA/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&place_id=ChIJD8Z4YQwdE4gRmvCK-OUFXxs&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click"
                target="_blank"><strong>Airbnbs</strong></a> are near the venue.
            </p>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>
                <a href="https://www.google.com/maps/search/things+to+do+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4133674,-86.942971,13z" target="_blank">Here's a list of things to do
                in the area.</a>
            </p>
            <h4>Hiking</h4>
            <p>
                Lafayette has a few <a href="https://www.google.com/maps/search/hiking+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4358356,-86.9269869,13.25z" target="_blank">flat hikes</a>.
            </p>
            <h4>Art Museum</h4>
            <p>The <a href="https://g.page/haanmuseum?share" target="_blank">Haan Museum of Indiana Art</a> has paintings, ceramics, and anitique American furniture.</p>
            <h4>Nature Center</h4>
            <p>
                The <a href="https://goo.gl/maps/7skcqg9tvfEFFmw67" target="_blank">Lilly Nature Center</a> consists of award-winning exhibits and activities designed for the entire family.  The bird viewing
                area has one-way glass so visitors can see the birds at the feeding stations up close. This is located inside the Celery Bog Nature Area.
            </p>
            <h4>Celery Bog</h4>
            <p>
                The <a href="https://goo.gl/maps/bS3E7VdtHx2kws9SA" target="_blank">Celery Bog Nature Area</a> is approximately 195 acres, consisting of a prairie, a savanna, woodlands and wetlands. It includes
                over 4 miles of paved, 10’ wide trails that connect to the Purdue University campus and other locations throughout West Lafayette. There are also 2.5 miles of mulched paths through the property
                and three observation decks near the wetlands.
            </p>
            <h4>Water Park</h4>
            <p>
                <a href="https://goo.gl/maps/4Qg1zF2frLHLbabq8" target="_blank">Tropicanoe Cove</a> is a public swimming pool with a small admission fee.
            </p>
            <h4>Fort Ouiatenon</h4>
            <p>
                <a href="https://goo.gl/maps/vpBFPbVaLmCjurA18" target="_blank">Fort Ouiatenon</a> is a replica of the wooden blockhouse that was originally built here in 1717 by the French.
            </p>
            <h4>Escape Room</h4>
            <p>
                <a href="https://g.page/missionbreakoutlafayette?share" target="_blank">Mission: Breakout Lafayette</a> gives your group one hour to figure out an adventure puzzle.
            </p>
            <h4>Bowling</h4>
            <p>Lance's old hockey friend has a bowling alley up near the fairgrounds: <a href="https://g.page/ArrowheadBowl?share" target="_blank">Mike Aulby's Arrowhead Bowl.</a></p>
            <h4>Eat</h4>
            <p>
                There are <a href="https://www.google.com/maps/search/food+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4136077,-86.942971,13z/data=!3m1!4b1">various places to eat</a> near the venue.
            </p>
            <h4>Shopping</h4>
            <p>There are <a href="https://www.google.com/maps/search/shopping+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4134875,-86.942971,13z/data=!3m1!4b1" target="_blank">various shopping centers</a> in Lafayette.</p>
        </div>
    </div>
</div>
