<header id="third-header" class="secondary"></header>
<h5 class="text-center text-muted">Lance's engagement pen</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Pen</h2>
            <hr class="primary">
            <div class="text-stack">
                <p>
                    The <a href="https://www.taskovskipens.com.au/products/le-opal-night-sky-fountain-pen" target="blank">Opal Night LE Fountain Pen</a> was made by Taskovski Fine Writing Instruments
                </p>
                <p>
                    Not only is it unique, but it's beautiful and very well made.
                </p>
            </div>
        </div>
    </div>
</section>
