<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">Lance's desk at 6AM the day we got engaged</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <div class="text-stack">
                <p>
                    Lance and Allison got engaged on July 18th, 2020 in Mountain View, California. And the proposal is based off of three 
                    inside jokes: opal, <em>The Legend of Korra</em>, and Lance's love for pens.
                </p>
                <p>
                    And it's <em>extra</em> unique because <strong>Allison proposed to Lance.</strong>
                </p>
                <p>
                    In October 2018, Lance took a business course which placed he and his cohort in a group named "Opal". How exotic. 
                </p>
                <p>
                    Excited for the course, Lance purchased a tiny opal elephant figurine. Elephants are known for their good memory, and the
                    opal stone's translucent, multicolored appearance is beautiful.
                </p>
                <p>
                    When it arrived, Allison inquired about it as if to say, "Are you a collector of fine jewelry now, Lance?"
                </p>
                <p>
                    "This is my <em>oh-PAUL</em> elephant. It's the name of my cohort."
                </p>
                <p>
                    Confused, Allison asked for clarification: "<em>Oh-paul?</em> How do you spell that?"
                </p>
                <p>
                    "O-P-A-L."
                </p>
                <p>
                    "Lance, that's pronounced <em>OH-pull</em>."
                </p>
                <p>
                    She got quite the kick out of that. And never forgot it. Lance's mom even bought her an opal ring a year later when my family came
                    to visit. And his <em>fake</em> proposal was not well-received. Luckily he didn't oversell it 😅
                </p>
                <p>
                    Some year later, we watched the <strong>masterpiece</strong> animated television show <em>The Legend of Korra</em> 
                    (spoilers approaching). During the show, there's a male character with a close female partner. Every time he needs
                    something, he asks her to "do the thing"; she always knows what he means.
                </p>
                <p>
                    At the end of the show, he kneels down, presents her a ring, and asks,<em>"Will you do the thing for the rest of
                    our lives?"</em> [<a href="https://youtu.be/Q5PvBEimrAA" target="_blank">watch clip</a>]
                </p>
                <p>
                    For whatever reason, Lance has always been fascinated with nice pens and has built 
                    <a href="https://photos.app.goo.gl/NXcwrrorj8iMU6DF9" target="_blank">quite a collection.</a>
                </p>
                <p>
                    With a quick Google search, Allison found a fountain pen made out of opal stones, also known as
                    <em>The perfect engagement gift.</em> She left Lance an opal pen and a post-it note that said, "Will you do the thing
                    for the rest of our lives?"
                </p>
                <p>
                    Lance came to wake her up and say, "Yes." Then thanked her for the introvert's perfect proposal.
                </p>
            </div>
        </div>
    </div>
</section>
