{% load static %}
<section id="registry" class="bg-info">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">
              Registry
            </h2>
            <hr class="primary">
            <div class="text-stack">
              <div style="max-width:100vw;text-align:center;">
                <p>
                  <a href="https://www.zola.com/registry/allisonandlance2023" class="hover-opacity">
                    <img src="{% static 'bigday/images/zola.png' %}" width=300 alt="Zola logo">
                    <br /><br />Our registry is on Zola 🎁😊
                  </a>
                </p>
              </div>
            </div>
        </div>
    </div>
</section>
