{% load static %}
<section id="registry" class="bg-info">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">
              Registry
            </h2>
            <hr class="primary">
            <div class="text-stack">
              <p>
                <a href="http://www.zola.com/registry/allisonandlance2023"><img class="logo" src="{% static 'bigday/images/zola.png' %}" /></a>
              </p>
              <p>
                <a href="http://www.zola.com/registry/allisonandlance2023">Our registry is on Zola.</a> We've listed a few home items and fun funds if you'd like to contribute.
              </p>
            </div>
        </div>
    </div>
</section>
