<header id="third-header" class="secondary"></header>
<h5 class="text-center text-muted">Allison's engagement rings</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Rings</h2>
            <hr class="primary">
            <div class="text-stack">
                <p>
                    Allison doing the proposing meant that she could help pick out her ring!
                </p>
                <p>
                    And because they like to be unorthodox, she picked out not one, not two, but THREE rings!
                </p>
                <ul>
                    <li>Sapphire</li>
                    <li>Opal</li>
                    <li>Diamond</li>
                </ul>
            </div>
        </div>
    </div>
</section>
