<section id="shopping">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">
              Shopping
            </h2>
            <hr class="primary">
            <div class="text-stack">
              <p>
                There are <a href="https://www.google.com/maps/search/shopping+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4134875,-86.942971,13z/data=!3m1!4b1">various shopping centers</a> in Lafayette.
              </p>
              <p>
                You can also check out the local Walmart! It used to be open 24 hours a day and one of Gordon's (Allison's Dad) favorite pastimes was late night, 2AM Walmart runs.
              </p>
            </div>
        </div>
    </div>
</section>
