<div class="container">
    <div class="row">
        <div class="">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <div class="text-stack">
                <p>
                    Allison and Lance first met at a gym in Indianapolis. Lance worked there and Allison was interning there for a few
                    months before her next phase of life.
                </p>
                <p>
                    What grew into love started out as a professional friendship (really, we swear it). Near the end of her internship,
                    Lance had decided to move to Mountain View, California after finishing up his masters degree. They dated for
                    about month before he had to leave, though he pushed back his departure date a few times. Allison's still not sure
                    if that was because he loved her or because he's indecisive and averse to change.
                </p>
                <p>
                    Realizing neither of the m wanted to leave the other was the first sign.
                </p>
                <p>
                    Allison was set to do a second internship after her first one in Indianapolis, but that (luckily) fell through.
                    There's really no telling where we'd be if this fortunate event had not happened.
                </p>
                <p>
                    Lance spoke with a colleaguge in his new town who was looking for an employee <em>just like Allison</em>. It was (on 
                    paper) the perfect job, and she joined Lance out west.
                </p>
                <p>
                    They currently live in Phoenix, Arizona while Allison attends school to become a Physician Assistant at Midwestern
                    University.
                </p>
            </div>
        </div>
    </div>
</div>
