<section id="travel" class="bg-blue">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-center">
                Travel & Lodging
            </h2>
            <hr class="primary">
            <div class="text-stack">
                <h3>Getting There</h3>
                <p>Lafayette is between Indianapolis and Chicago, but closer to Indianapolis.</p>
                <p>
                    From <strong>Indianapolis</strong>, <a href="https://goo.gl/maps/RTdGRMUEQkqUz6kY7">it is a <strong>1.25 hour</strong> drive ↖️ northwest from Indianapolis International Airport
                    to the venue.</a>
                </p>
                <p>
                    From <strong>Chicago</strong>, it is a <a href="https://goo.gl/maps/gkA6zw4QA8Bf3gmNA"><strong>2.5 hour</strong> drive ↘️ southeast from O'Hare International Airport</a> or <a href="https://goo.gl/maps/4J1JefBjf6Fh75918">from Chicago Midway International Airport.</a>
                </p>
                <p>
                    From <strong>Detroit</strong>, <a href="https://goo.gl/maps/4ixFe8Wb4p8Yfzjv7">it is a <strong>4.5 hour</strong> drive ↙️ southwest from city center to the venue.</a>
                </p>
                <hr class="primary">
                <h3>Hotels and Accommodations</h3>
                <p>
                    Here are some recommended hotels listed in no particular order. Both of them are walking distance to Purdue University and only a short drive to the wedding venue.
                </p>
                <h4><a href="https://goo.gl/maps/2Bm6C4vT6rsHLLBR8">Hilton Garden Inn West Lafayette Wabash Landing</a></h4>
                <ul>
                    <li>Check-in: 3:00PM</li>
                    <li>Check-out: 11:00AM</li>
                    <li><a href="https://goo.gl/maps/6QrAAJsStYnheJ5R7">🚗 8 min to venue</a></li>
                </ul>
                <h4><a href="https://goo.gl/maps/9kXgyGFcQY53j5TQ7">Hampton Inn & Suites West Lafayette</a></h4>
                <ul>
                    <li>Check-in: 3:00PM</li>
                    <li>Check-out: 11:00AM</li>
                    <li><a href="https://goo.gl/maps/6QrAAJsStYnheJ5R7">🚗 7 min to venue</a></li>
                </ul>
                <p>
                    For more options, <a href="https://www.google.com/maps/search/lodging+near+Tippecanoe+County+Fairgrounds,+Teal+Road,+Lafayette,+IN/@40.4254628,-86.8975051,13z/data=!3m1!4b1">
                    hotels</a> and <a href="https://www.airbnb.com/s/Tippecanoe-County-Fairgrounds--Teal-Road--Lafayette--IN--USA/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&place_id=ChIJD8Z4YQwdE4gRmvCK-OUFXxs&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click"
                   >Airbnbs</a> are near the venue.
                </p>
            </div>
        </div>
    </div>
</section>
